<img src="/assets/img/newsletters/Volume4/Im61.png" class="d-block img-fluid mb-2 rounded mx-auto"/>
<img src="/assets/img/newsletters/Volume4/Im63.png" class="d-block img-fluid mb-2 rounded mx-auto"/>
<p>The biggest part of being a tradesman is looking after your tools, van, staying on top of paper work... but the most important tool you own is your <b>MIND.</b></p>
<p>We will be donating <b>10%</b> of any profit made from this newsletter. If
you are feeling off, feel free to reach out for a chat.</p>
<a href="https://www.samaritans.org/how-we-can-help/contact-samaritan/chat-online/" class="link px-4 py-2">Have a Chat!</a>
