<nav class="navbar navbar-expand-md fixed-top" style="background-color: white;">
	<div class="container-fluid">
		<a href="/" class="navbar-brand">
			<img src="/assets/img/wattsuplogoblack.png" id="nav-img">
		</a>
		{% if page.layout != 'home' %}
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mb-2 mb-md-0 ms-auto me-5">
				<li class="nav-item">
				<a class="nav-link {% if page.layout == 'home' %}{{"active"}}{% endif %}" aria-current="page" href="/">Subscribe</a>
				</li>
				<li class="nav-item">
				<a class="nav-link {% if page.layout == 'templates' %}{{"active"}}{% endif %}" href="/templates">Templates</a>
				</li>
				<li class="nav-item">
				<a class="nav-link {% if page.layout == 'about' %}{{"active"}}{% endif %}" href="/about">About</a>
				</li>
			</ul>
		</div>
		{% endif %}
	</div>
</nav>

