 hr {
     color: var(--theme-primary);
     background-color: var(--theme-primary);
     height: 5px;
     border-width: 0;
     opacity: 1;
 }

h3, h4, h5 {
    color: var(--theme-primary);
}

a {
    color: var(--theme-primary);
}

.link {
    background-color: var(--theme-primary);
    border-radius: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

 .posts-container {
     max-width: 760px;
 }
