---
layout: default
---

<div class="container-xl text-center">
	<h1>This is Watt's Up</h1>
	<p>At Watt's Up we're on a mission to simplify the complexity of Electrics and make it easy for YOU to get the information you want!</p>
	<p>We are two friends who share a passion for electrical innovations and want to share that passion with YOU, our readers.</p>
	<p>Every month on the 1st at 12pm GMT, we deliver directly to you a newsletter filled with all the latest industry information.</p>
	<div class="row" style="justify-content: center;">
		<div class="col">
		<img src="/assets/img/JamesHeadshotUpdated.png" style="max-width: 240px; max-height: 240px"/>
		</div>
		<div class="col">
		<img src="/assets/img/JoelHeadshotUpdated.png" style="max-width: 240px; max-height:240px"/>
		</div>
	</div>

	<h1>Sponsor Spotlight</h1>
	<div class="row" style="justify-content: center;">
		<img src="/assets/img/sponsors/MetaboLogo.png" style="max-width: 240px; max-height: 133px; margin-top: 2rem;">
		<img src="/assets/img/sponsors/TISLogo.jpg" style="max-width: 240px; max-height: 240px;">
		<img src="/assets/img/sponsors/TradifyLogo.png" style="max-width: 240px; max-height: 88px; margin-top: 4rem;">
	</div>
	<div class="row" style="justify-content: center;">
		<img src="/assets/img/sponsors/SuperRodLogo.png" style="max-width: 320px; max-height: 88px; margin-top: 4rem;">
		<img src="/assets/img/sponsors/LINIANLogo.png" style="max-width: 360px; max-height: 240px; margin-top: -1rem;">
		<img src="/assets/img/sponsors/Navitas.jpg" style="max-width: 320px; max-height: 140px; margin-top: 2rem;">
	</div>
	<div class="row" style="justify-content: center; margin-bottom: 4rem;">
		<img src="/assets/img/sponsors/Torque_Logo.jpg" style="width: auto; max-height: 140px; margin-top: 4rem;">
		<img src="/assets/img/sponsors/Chauvin-Arnoux_Logo.png" style="width: auto; max-height: 140px; margin-top: 4rem;">
	</div>
</div>
