---
layout: default
---
<div class="container-xl text-center">
    {% for newsletter in site.newsletters%}
        {% assign isEven = forloop.index | modulo: 2%}

        {% comment %}
            Each row we have will always contain 2 newsletters. Odd numbered newsletters will
            always appear on the left and even numbered newsletters on the right. We check if
            the current for loop index is even becuase if it is odd then we need to start a new
            row. If it is even then we need to close the row.
        {% endcomment %}
        {% if forloop.fist or isEven == 1 %}
        <div class="row">
        {% endif %}

            <div class="card m-auto mb-5">
                <a href="{{ newsletter.url }}">
                    <img src="{{ newsletter.image }}" class="card-img-top">
                    <div class="card-body">
                        <h5>{{ newsletter.title }}</h5>
                    </div>
                </a>
            </div>
        {% if forloop.last or isEven == 0 %}
        </div><!-- {{forloop.index}} -->
        {% endif %}
    {% endfor %}
</div>
