---
layout: default
---
<style>
 hr {
     color: var(--theme-primary);
     background-color: var(--theme-primary);
     height: 5px;
     border-width: 0;
     opacity: 1;
 }

 .link {
     background-color: var(--theme-primary);
     border-radius: 1rem;
     text-decoration: none;
     font-weight: bold;
     color: black;
 }

 .posts-container {
     max-width: 760px;
 }
</style>

<div class="container-xl text-center">
    <main class="main">
        <div class="posts-container mx-auto my-5">
            <div class="post">
                {{ content }}
            </div>
        </div>
    </main>
</div>
