---
layout: default
---
<div class="container-xl text-center">
    {% for download in site.templates%}
    <div class="card">
        <img src="{{ download.image }}" class="card-img-top"/>
        <div class="card-body">
            <h5 class="card-title">{{ download.title }}</h5>
            <p class="card-text">{{ download.content }}</p>
            <a href="{{ download.item }}" class="btn btn-primary" style="background-color: var(--theme-primary); border-color: var(--theme-primary);">Download</a>
        </div>
    </div>
    {% endfor %}
</div>
